useDynLib(hisse)

export(hisse, hisse.null4, MarginRecon, SupportRegion, TransMatMaker, ParDrop, ParEqual, BisseToHisse, plot.hisse.states, SimulateHisse, SimToPhylo)
import(ape, deSolve, GenSA, subplex, data.table)
importFrom(parallel, mclapply)
importFrom(phytools, plot.contMap, nodeHeights, fastAnc, anc.ML)

exportClasses('hisse.fit', 'hisse.null4.fit', 'hisse.states', 'hisse.support')
S3method(print, hisse.fit)
S3method(print, hisse.null4.fit)
S3method(print, hisse.states)
S3method(print, hisse.support)
S3method(plot, hisse.states)